.tachado-container {
  padding: 4rem 0 2rem 0;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 600;
  color: #754942;
}

.tachado-texto span {
  text-decoration: line-through;
  font-weight: 400;
  color: #997d79;
}

.br-tachado {
  display: block;
}
.br-tachado-2 {
  display: none;
}

@media only screen and (max-width: 1500px) {
  .br-tachado {
    display: none;
  }
}
@media only screen and (max-width: 1300px) {
  .br-tachado-2 {
    display: block;
  }
}

@media only screen and (max-width: 1200px) {
  .tachado-container {
    width: 75%;

    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 1000px) {
  .br-tachado-2 {
    display: none;
  }

  .br-tachado {
    display: block;
  }

  .tachado-container {
  }
}

@media only screen and (max-width: 800px) {
  .br-tachado {
    display: none;
  }
}
@media only screen and (max-width: 670px) {
  .br-tachado-2 {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .tachado-container {
    width: 90%;
    margin-bottom: 0;

    font-size: 1.1rem;
  }
}
