.carrousel-container {
  width: 100%;
  background-color: #5c7f7e;
  height: 40rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 4rem;
}

.lo-que-dicen {
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
  margin-top: 3rem;
}

.big {
  width: 350px;
  color: white;
  margin: 2rem;
  padding: 1rem;
}

.big img {
  border-radius: 50%;
  margin-bottom: 1rem;
}

.small {
  width: 150px;
  color: #e8e8e8;
  margin: 0.5rem;
  padding: 0.2rem;
  font-size: 0.1rem;
}

.small img {
  border-radius: 50%;
  margin-bottom: 0.1rem;
}

.carrousel {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .testimonio {
    width: 200px;
    color: #e8e8e8;
    margin: 2rem;
    padding: 1rem;
  }
}

@media only screen and (max-width: 900px) {
  .testimonio {
    width: 90%;
    color: #e8e8e8;
    margin: 0.3rem;
    padding: 1rem;
  }

  .small {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .lo-que-dicen {
    font-size: 1.5rem;
  }

  .testimonio {
    width: 90%;
    color: #e8e8e8;
    margin: 0.3rem;
    padding: 1rem;
  }
  .big {
    width: 100%;
  }

  .big h3 {
    font-size: 1rem;
  }
}
