.note-container {
  height: 100%;
  width: 100%;
}
.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
/* .note-container h2 {
  margin-bottom: 20px;
} */
.boton-volver-journal {
  margin-left: auto;
}
.note-container_notes {
  margin: none;
  height: 90%;
  overflow: hidden;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  overflow-y: scroll;
  gap: 20px;
}
