.note-container {
    height: 100%;
  }
  
  .note-container h2 {
    margin-bottom: 20px;
  }
  
  .note-container_notes {
    margin: none;
    /* height: 90%; */
    /* overflow: hidden; */
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    gap: 20px;
  }
  