.red {
  background-color: #cd6c51 !important;
  /* border-radius: 20px; */
  color: black !important;
}

.blue {
  background-color: #e8b8a4 !important;
  /* border-radius: 20px; */
  color: black !important;
}

.green {
  background-color: #e6e8a7 !important;
  /* border-radius: 20px; */
  color: black !important;
}

.yellow {
  background-color: #9aa162 !important;
  /* border-radius: 20px; */
  color: black !important;
}

.purple {
  background-color: #85b5b5 !important;
  /* border-radius: 20px; */
  color: black !important;
}

.white {
  background-color: #5c7f7e !important;
  /* border-radius: 20px; */
  color: black !important;
}
