#colorpicker-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 20px;
  box-shadow: -1px 1px 20px rgba(0, 0, 0, 0.49);
  width: 350px;
  background: rgba(255, 255, 255, 0.5);
}

#red {
  width: 30px;
  height: 30px;
  background-color: lightcoral;
  border-radius: 100%;
  margin: 0.5rem;
}

#blue {
  width: 30px;
  height: 30px;
  background-color: lightblue;
  border-radius: 100%;
  margin: 0.5rem;
}

#green {
  width: 30px;
  height: 30px;
  background-color: lightgreen;
  border-radius: 100%;
  margin: 0.5rem;
}

#yellow {
  width: 30px;
  height: 30px;
  background-color: rgb(255, 255, 160);
  border-radius: 100%;
  margin: 0.5rem;
}

#purple {
  width: 30px;
  height: 30px;
  background-color: violet;
  border-radius: 100%;
  margin: 0.5rem;
}
