.title {
  font-family: "Poppins", sans-serif;
  color: rgb(117, 73, 66);
  font-size: 6rem;
  font-weight: 700;
}

.home-buttons {
  /* padding: 3.2rem; */
  width: 150px;
  height: 150px;
  border-radius: 15px;
  margin: 0.5rem;
  background-color: #7286e9;
  border: none;
  color: #fbf7f1;
}

.home-bg-image {
  height: 100vh;
  background-image: url("https://i.ibb.co/kX1BB1H/background-home.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.buttons-container {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .home-buttons {
    display: none;
  }
}
