/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.highlights {
  font-weight: 700;
  background-color: yellow;
}

body {
  font-family: 'Montserrat', sans-serif;
}

ul li {
  list-style: none;
}

.volver {
  background-color: rgb(103, 155, 200);
}