footer {
  display: none;
}

.journal-entry input:focus::placeholder {
  color: transparent;
}

.journal-entry {
  margin: 0;
  padding: 0;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 10px;
  height: 80vh;
}

.fecha-container {
  display: flex;
  flex-direction: column;
}
.fecha {
  margin-top: 10px;
  font-size: 12px;
  color: grey;
}

.tarea-container {
  margin-left: 1%;
  width: 98%;
}

.botones {
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
}

.boton {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: transparent;
}
.boton:hover {
  -webkit-transition: 200ms linear;
  -ms-transition: 200ms linear;
  transition: 200ms linear;
}

.borrar-entrada {
  border: 2px solid #7e7e7e;
  color: #7e7e7e;
  margin-right: 15px;
}
.borrar-entrada:hover {
  border: 2px solid #CE6C52;
  background-color: #CE6C52;
  color:white;
}

.guardar-entrada,
.pantalla-completa {
  border: 2px solid #000000;
  color: #000000;
}
.guardar-entrada:hover,
.pantalla-completa:hover {
  background-color: #000000;
  color: #ffffff;
}