.todo-list {
    width: 100%;
  }
  
.todo {
    align-items: center;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.25);
    display: flex;
    margin-bottom: 10px;
  }
  .todo span {
    
  }

.question {
    margin:0;
    padding:0;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 30px;
  }
  .question input:focus::placeholder {
    color: transparent;
  }

.botones {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.borrar {
    background-color: rgb(229, 114, 120);
  }

.fa-trash, .fa-edit {
    color: rgb(255, 255, 255);
  }
  .fa-trash:hover {
    color: rgb(255, 255, 255);
  }