.todo-list {
    width: 100%;
  }
  
.todo {
    align-items: center;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    /* box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.25); */
    display: flex;
    margin-bottom: 10px;
  }
  .todo span {
    
  }

.question {
    margin:0;
    padding:0;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 30px;
  }
  .question input:focus::placeholder {
    color: transparent;
  }

.botones {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.boton {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: transparent;
}
.boton:hover {
  -webkit-transition: 200ms linear;
  -ms-transition: 200ms linear;
  transition: 200ms linear;
}
.boton-editar {
  border: 2px solid #85B5B5;
  color: #85B5B5;
}
.boton-editar:hover {
  background-color: #85B5B5;
  color: white;
}
.boton-basura {
  border: 2px solid #CD6C51;
  color: #CD6C51;
}
.boton-basura:hover {
  background-color: #CD6C51;
  color: white;
}
.boton-guardar {
  border: 2px solid #9AA162;
  color: #9AA162;
}
.boton-guardar:hover {
  background-color: #9AA162;
  color: white;
}

.borrar {
    background-color: rgb(229, 114, 120);
  }