.container-lista {
  height: 100vh;
}

.container-lista h1 {
  text-align: center;
  color: #754942;
  font-size: 2.5rem;
  font-weight: 600;
}

.question {
  margin: 0;
  padding: 0;
  border: 2px solid rgba(255, 255, 255, 0.482);
  border-radius: 30px;
}
.question:focus {
  border: none;
}
.question input:focus::placeholder {
  color: transparent;
}

input {
  background: none;
  border: none;
  width: 100%;
  outline: none;
  padding: 10px;
}
input:active {
  background: white;
  border-radius: 30px;
}
input:focus {
  background: white;
  border-radius: 30px;
}

.todo-list {
    width: 100%;
    margin-bottom: 30px;
  }
  
.todo-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
}

ul li {
  list-style: none;
}

.boton-completar {
  display: flex;
  justify-content: center;
  width: 1%;
  text-align: center;
}

.task-container {
  margin-left: 1%;
  width: 98%;
}

.botones {
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
}

.boton {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: transparent;
}
.boton:hover, .boton-limpiar:hover {
  -webkit-transition: 200ms linear;
  -ms-transition: 200ms linear;
  transition: 200ms linear;
}

.boton-editar {
  border: 2px solid #85B5B5;
  color: #85B5B5;
}
  .boton-editar:hover {
  background-color: #85B5B5;
  color: white;
}

.boton-basura {
  border: 2px solid #CD6C51;
  color: #CD6C51;
}
  .boton-basura:hover {
  background-color: #CD6C51;
  color: white;
}

.boton-guardar {
  border: 2px solid #9AA162;
  color: #9AA162;
}
  .boton-guardar:hover {
  background-color: #9AA162;
  color: white;
}

.boton-limpiar {
  background-color: none;
  border-radius: 10px;
  border: 2px solid #CD6C51;
  color: #CD6C51;
  height: 35px;
  padding: 0px 10px 0px 10px;
}
  .boton-limpiar:hover {
    background-color: #CD6C51;
    border-radius: 10px;
    border: 2px solid #CD6C51;
    color: white;
}

.container-lista {
  height: 100vh;
  /* background-color: rgb(255, 255, 255); */
}

.todos-counter {
  margin-top: 5px;
  font-size: 12px;
  color: grey;
}

.item-lista {
  display: flex;
  align-items: center;
}

.counter-container {
   bottom: 0;
   width: 100%;
}