.navbar-2 {
  background: transparent;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  z-index: 999;
  padding: 1rem;
  color: #754942;
  text-decoration: none;
}

.navbar-container-2 {
  display: flex;
  align-items: center;
  width: 1400px;
  justify-content: space-between;
}

.navbar-logo-2 {
  margin: 0 0 0 2rem;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}

.link-2 {
  text-decoration: none;
  color: #754942;
}

.links-2 {
  display: flex;
  flex-direction: row;
  margin: 0 2rem 0 0;
}

.linksitos-2 {
  margin-right: 1.5rem;
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  color: #754942;
}

.login-2 {
  text-decoration: none;
  color: #754942;
}

.linksitos-2:hover,
.navbar-logo-2:hover,
.link-2:hover {
  color: #ea9042;
}

@media only screen and (max-width: 600px) {
  .navbar-container-2 {
    flex-direction: column;
  }
  .linksitos-2 {
    font-size: 16px;

    margin: 0 0.5rem;
  }

  .navbar-logo-2 {
    margin: 0;
  }

  .hide {
    display: none;
  }

  .navbar-logo-2 {
    font-size: 1.5rem;
  }
}
